<nav>
  <form action="/addAuthor">
    <button>Add Author</button>
  </form>
  <form action="/addQuote">
    <button>Add Quote</button>
  </form>
  <form action="/listAuthors">
    <button>List all Authors</button>
  </form>
  <form action="/listQuotes">
    <button>List all Quotes</button>
  </form>
</nav>
